html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/skys.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

#temperature {
    font-size: 180px;
    font-weight: bold;
}

#temperature::after {
    content: '\2103';
    position: absolute;
    top: 45%;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: -15px;
}


#feels-like::after {
    content: '\2103';
    position: absolute;
    top: 10%;
    font-weight: bold;
    font-size: 0.7rem;
    margin-left: 4px;
}


#weather-inputs {
    display: flex;
}

#content {
    margin-top: 10%;
    margin-left: 50px;
}



#weather-condition {
    font-size: 30px;
}

#region {
    font-size: 70px;
}


.weather-properties {
    position: absolute;
    margin-left: 270px;
}

.weather-properties > * {
    font-size: 1.2rem;
    padding-top: 25px;
}



#search {
    border-radius: 5px;
    border: none;
    width: 300px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.234);
    margin-left: 50px;
    margin-top: 20px;
    padding: 20px;
}

#search::placeholder{
    color: aliceblue;
}

#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

/*@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}*/

#loader p {
    margin-top: 20px;
    color: #f3f3f3;
}

